@font-face {
  font-family: "Boots and Spurs";
 src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}

 body {
  font-family: Roboto;
 }
nav {
  display: none;
  position: absolute;
  
}
nav a {
  display: underline;
  color: #fff;
  padding: 50px;
}
header {
  position: relative;
}
h1,h2,
.logo {
  font-family: "Boots and Spurs", Tabona;
}

.products h2 {
    font-family: Roboto;
}

header, 
footer {
  background-color: #202020;
  color: #fff;
}

header a {
  color: #fff;
}

nav a {
  display: inline;
}
.cta {
  background-color: #bb0000;
  color: #fff;
  font-size: 1.5em;
}

.reviews {
  background-color: #e8e8e8;
}

.featured--products {
  background-color: #fbfbfb;
}

.cta-sale {
  background-color: #127300;
}

footer {
  text-align: center;
}
/* Home page*/
.welcome {
  background-image:url(../images/home-header.jpg);
  background-size: cover;
  min-height: 70vh; 
}

.selling_points_images { 
  
    border-radius: 100px;
}

.review_images {
  border-radius: 50%;
}

/* contact page */
input,
select, 
textarea {
  border: bold;
  border-radius: 5px;
}
